<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
</head>
<body>
	<h1>商品一覧</h1>
	<!-- TODO:【課題-1】商品リストが空リストの場合、表の部分を非表示にする実装を追加してみよう -->
	<!-- TODO:【課題-2】商品リストの商品の件数を表示してみよう：表示例「◯件の商品が見つかりました」 -->
	<!-- TODO:【課題-3】商品IDの列を中央揃えに、価格の列を右揃えで通過表示をしてみよう -->
	<table border="1">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr th:each="item:${items}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
		</tr>
	</table>
</body>
</html>